<footer>
  <div  class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-auto pr-0 align-self-center">
        <a>Sitemap</a> |
        <a>Discalimer</a> |
        <a>Privacy Policy</a> |
        <a>*Terms & Conditions</a>

      </div>
      <div class="col-12 col-md-auto pl-0 align-self-center">
        <a> &nbsp;| &copy;2020 Berger Paints India Limited</a>
      </div>
      <div class="col-12 col-md social">
          <span>Connect with us: </span>
         <a class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
         <a class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
         <a class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
         <a class="youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
         <a class="pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</footer>
