/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "node_modules/bootstrap/scss/bootstrap";

:root{
  --theme-primary:#00caec;
  --theme-secondary: #d5f9ff;
}


html, body{
  // given font not imported using inbuilt
  font-family: "Helvetica Neue", sans-serif ;
  background: var(--theme-secondary);
  font-size: 14px;
}

a{
  cursor: pointer;
}

.form-control{
  border-radius: 20px !important;
}

.custom-checkbox .custom-control-label::before{
  border-radius: 50px;
}
.form-group{
  margin-bottom: 10px;
}