<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <h1 class="title">
          GHARKA
          <span>SANITIZER</span>
        </h1>
        <h2 class="sub-title">
          <span>The paint</span>
          for healthy homes
        </h2>
        <div class="images">
          <div class="image">
            <img src="./../../assets/img/environment.png" class="img-fluid">
          </div>
          <div class="image">
            <img src="./../../assets/img/tested.png" class="img-fluid">
          </div>
          <div class="image">
            <img src="./../../assets/img/doctory.png" class="img-fluid">
          </div>
          <div class="text">
            Approved by, <br>
            The Indian Medical Association
          </div>
        </div>
      </div>
      <div class="col-3">
        <img src="./../../assets/img/sanitizer.png" class="sanitizer-icon">
      </div>
      <div class="col-4">
        <ul class="list">
          <li><img src="./../../assets/img/check.png" > Kills 99% Bacteria</li>
          <li><img src="./../../assets/img/check.png" > Reduces Pollution & Protects Immunity</li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section class="enquiry">

</section>
