<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <h1 class="title">
           <span>GHAR KA</span><br>
         SANITIZER
        </h1>
        <h2 class="sub-title">
          <span>The paint</span>
          for healthy homes
        </h2>
        <div class="images">
          <div class="image">
            <img src="./../../assets/img/environment.png" class="img-fluid">
          </div>
          <div class="image">
            <img src="./../../assets/img/tested.png" class="img-fluid">
          </div>
          <div class="image">
            <img src="./../../assets/img/doctory.png" class="img-fluid">
          </div>
          <div class="text">
            Approved by, <br>
            The Indian Medical Association
          </div>
        </div>
      </div>
      <div class="col-3 p-0">
        <img src="./../../assets/img/sanitizer.png" class="sanitizer-icon img-fluid">
      </div>
      <div class="col-4">
        <ul class="list">
          <li><img src="./../../assets/img/check.png" > Kills 99% Bacteria</li>
          <li><img src="./../../assets/img/check.png" > Reduces Pollution & Protects Immunity</li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section class="enquiry">
  <div class="container">
    <div class="row">
      <div class="col-7 col-md-5 col-lg-4 form">
          <form [formGroup]="enquiryForm" (ngSubmit)="onSubmit()">
              <div class="form-title">Know more about the safest paint</div>
              <div class="form-des">
                Looking to paint your walls with a safe premium paint?
                Get in touch to know more about Ghar ka Sanitizer-
                Berger Silk Breathe Easy. Fill the form below
              </div>
             <!-- <p *ngIf="enquiryForm.touched && enquiryForm.invalid" class="text-danger">Form is not Valid</p> -->
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Name" formControlName="name" pattern="[a-zA-Z ]*">
              <div class="errors">
                <small class="text-danger" *ngIf="submitted && f.name.errors">Please enter your name.</small>
                <small class="text-danger" *ngIf="f.name.touched && f.name.invalid">Special characters and numbers
                  are not allowed.</small>
              </div>
            </div>
            <div class="form-group">
              <input type="number" class="form-control" placeholder="Mobile Number" formControlName="number">
              <div class="errors">
                <small class="text-danger" *ngIf="submitted && f.number.errors">Please enter your mobile number.</small>
                <small class="text-danger" *ngIf="f.number.touched && f.number.invalid">Special characters and alphabets
                  are not allowed..</small>
              </div>
              
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email" formControlName="email">
              <div class="errors">
                <small class=" text-danger" *ngIf="submitted && f.email.errors">Please enter your email address.</small>
                <small class=" text-danger" *ngIf="f.email.touched && f.email.invalid">Please enter a valid email address.</small>
              </div>
              
            </div>
            <div class="form-group">
              <select class="form-control" formControlName="city">
                <option value="">Your City</option>
                <option value="Mumbai">Mumbai</option>
              </select>
              <div class="errors">
                <small class=" text-danger" *ngIf="submitted && f.city.errors">Please enter your city.</small>
                <small class=" text-danger" *ngIf="f.city.touched && f.city.invalid">Special characters and numbers
                  are not allowed.</small>
              </div>
              
            </div>
            <div class="form-group">
              <select class="form-control" formControlName="language">
                <option value="">Language you prefer</option>
                <option value="English">English</option>
                <option value="Hindi">Hindi</option>
                <option value="Marathi">Marathi</option>
              </select>
              <div class="errors">
                
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" formControlName="message" rows="2" placeholder="Message(Optional):"></textarea>
              <div class="errors">
                
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="terms">
                <label class="custom-control-label" for="customCheck1">
                  I agree to the terms and conditions and also authorize Berger Paints India to contact me overriding my registry on NDN
                </label>
              </div>
            </div>
            <div class="form-group mb-0 text-center">
              <button type="submit" class="btn btn-info">SUBMIT</button>
            </div>
          </form>
      </div>
      <div class="col-5 col-md-7 col-lg-5  details">
        <p>
          The paint for healthy homes. Do you think sanitizing your hands is enough to stay safe? Think again. It is time you sanitized your home
          with <strong>Berger Silk Breathe Easy</strong>.
        </p><p>
        A luxury premium emulsion, the <strong>Berger Silk Breathe Easy</strong> paint kills
        99% of bacteria and reduces pollution. It has been formulated with 100% acrylic emulsions and vibrant pigments. Keeping in mind the health of your family members, <strong>Berger Silk Breathe Easy</strong> has low Volatile Organic Compounds and Formaldehyde reduction abilities.
      </p><p>
        <strong>Berger Silk Breathe Easy</strong> has been tested and certified for being an
        environment-friendly paint. Boost the health of your family
        members while they are indoors with <strong> Ghar ka Sanitizer</strong>.

      </p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 icons">
        <div class="title">
          Why choose Berger Silk Breathe Easy?
        </div>
        <div class="icons-content">
          <div class="icon">
            <img src="./../../assets/img/carbon.png">
            <span>Anti pollution <br>
              &  Anti-bacterial

              </span>
          </div>
          <div class="icon">
            <img src="./../../assets/img/environment.png">
            <span>Environment Friendly <br>
& Low VOC
              </span>
          </div>
          <div class="icon">
            <img src="./../../assets/img/tested.png">
            <span>Kills 99% bacteria

              </span>
          </div>
          <div class="icon">
            <img src="./../../assets/img/doctory.png">
            <span>Approved by <br>
The Indian Medical Association
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<div #reportContent class="d-none">
  <table class="table table-bordered">
    <tr>
      <td>Name</td>
      <td>{{enquiryForm.value.name}}</td>
    </tr>
    <tr>
      <td>Number</td>
      <td>{{enquiryForm.value.number}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{enquiryForm.value.email}}</td>
    </tr>
    <tr>
      <td>City</td>
      <td>{{enquiryForm.value.city}}</td>
    </tr>
    <tr>
      <td>Language</td>
      <td>{{enquiryForm.value.language}}</td>
    </tr>
    <tr>
      <td>Message</td>
      <td>{{enquiryForm.value.message}}</td>
    </tr>
    <tr>
      <td>Terms</td>
      <td>{{enquiryForm.value.terms}}</td>
    </tr>
  </table>
</div>
